@model GestaoNotas.Models.ViewModel.DisciplicaViewModel
@{
    ViewData["Title"] = "Cadastro Disciplina";
    Layout = ViewBag.tema;

}

<div class="container">
    <div class="my-3">
        @ViewData["Title"]
    </div>
    <div class="row">
        <form>
            <div class="mb-3">
                @Html.LabelFor(model => model.NomeDiciplina, new {@class ="form-label"})
                @Html.TextBoxFor(model => model.NomeDiciplina, new {@class ="form-control"})
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.DataAvaliacao, new {@class ="form-label"})
                @Html.TextBoxFor(model => model.DataAvaliacao, new {@class ="form-control"})
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Descricao, new {@class ="form-label"})
                @Html.DropDownListFor(model => model.IdTurma, null,"",new{@class="form-select"})
            </div>      
            <div class="mb-3">
                @Html.LabelFor(model => model.Nome, new {@class ="form-label"})
                @Html.DropDownListFor(model => model.IdProfessor, null,"",new{@class="form-select"})
            </div>

            <div id="BotaoAluno" class="btn btn-primary">@ViewData["Title"]</div>
        </form>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });


            $("#BotaoAluno").click(function () {
                var disciplina = {
                    NomeDiciplina: document.querySelector("#NomeDiciplina").value,
                    DataAvaliacao: document.querySelector("#DataAvaliacao").value,
                    IdProfessor: document.querySelector("#IdProfessor").value,
                    IdTurma: document.querySelector("#IdTurma").value,
                }

                PostData('@Url.Action("addDisciplina", "Home")', disciplina, sucess)

            })
            function sucess(Result) {
                if (Result.cadastrado) {
                    toastr["success"]("Cadastrado com sucesso")

                }else{
                    toastr["error"]("Erro no cadastro")

                }
            }

        })



    </script>
}