@model GestaoNotas.Models.ViewModel.ProfViewModel
@{
    ViewData["Title"] = "Cadastro Professor";
        Layout = ViewBag.tema;

}

<div class="container">
    <div class="my-3">
        @ViewData["Title"]
    </div>
    <div class="row">
        <form>
            <div class="mb-3">
                @Html.LabelFor(model => model.Nome, new {@class ="form-label"})
                @Html.TextBoxFor(model => model.Nome, new {@class ="form-control"})
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.Campus, new {@class ="form-label"})
                @Html.TextBoxFor(model => model.Campus, new {@class ="form-control"})
            </div>

            <div id="BotaoAluno" class="btn btn-primary">@ViewData["Title"]</div>
        </form>
    </div>
    <button id="TargetModalTurma" type="button" class="btn btn-info my-3">
        Pesquisa cadastradas
    </button>
</div>

<div class="modal" id="Modal" tabindex="-1" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section id="renderPartial">
                </section>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });

            $("#BotaoAluno").click(function () {
                var professor = {
                    Nome: document.querySelector("#Nome").value,
                    Campus: document.querySelector("#Campus").value,
                }
                PostData('@Url.Action("CadastroProf", "Home")', professor, sucess)
            })

            function sucess(Result) {

                if (Result.cadastrado) {
                    toastr["success"]("Cadastrado com sucesso")

                } else {
                    toastr["error"]("Erro no cadastro")
                }
            }
        })
        $(document).on("click", "#TargetModalTurma", function (e) {
            id = null;
            PostData('@Url.Action("ProfTabela", "Home")', id, foi);

            function foi(Result) {
                RenderPartial(Result, $("#renderPartial"))
            }
            $("#Modal").modal("toggle");

        });
    </script>
}