@model GestaoNotas.Models.ViewModel.DisciplicaViewModel
@{
    ViewData["Title"] = "Cadastro Disciplina";
    Layout = ViewBag.tema;

}

<div class="container">
    <div class="my-3">
        @ViewData["Title"]
    </div>
    <div class="row">
        <form>
            <div class="mb-3">
                @Html.LabelFor(model => model.NomeDisciplina, new {@class ="form-label"})
                @Html.TextBoxFor(model => model.NomeDisciplina, new {@class ="form-control"})
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.DataAvaliacao, new {@class ="form-label"})
                @Html.TextBoxFor(model => model.DataAvaliacao, new {@class ="form-control"})
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Descricao, new {@class ="form-label"})
                @Html.DropDownListFor(model => model.IdTurma, null,"",new{@class="form-select"})
            </div>      
            <div class="mb-3">
                @Html.LabelFor(model => model.Nome, new {@class ="form-label"})
                @Html.DropDownListFor(model => model.IdProfessor, null,"",new{@class="form-select"})
            </div>

            <div id="BotaoAluno" class="btn btn-primary">@ViewData["Title"]</div>
        </form>
    </div>
    <button id="TargetModalTurma" type="button" class="btn btn-info my-3">
        Pesquisa cadastradas
    </button>
</div>

<div class="modal" id="Modal" tabindex="-1" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section id="renderPartial">

                </section>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });


            $("#BotaoAluno").click(function () {
                var disciplina = {
                    NomeDiciplina: document.querySelector("#NomeDisciplina").value,
                    DataAvaliacao: document.querySelector("#DataAvaliacao").value,
                    IdProfessor: document.querySelector("#IdProfessor").value,
                    IdTurma: document.querySelector("#IdTurma").value,
                }

                PostData('@Url.Action("addDisciplina", "Home")', disciplina, sucess)

            })
            function sucess(Result) {
                if (Result.cadastrado) {
                    toastr["success"]("Cadastrado com sucesso")

                }else{
                    toastr["error"]("Erro no cadastro")

                }
            }

            $(document).on("click", "#TargetModalTurma", function (e) {
                id = null;
                PostData('@Url.Action("DisciplinaTabela", "Home")', id, foi);

                function foi(Result) {
                    RenderPartial(Result, $("#renderPartial"))
                }
                $("#Modal").modal("toggle");

            });
        })



    </script>
}