@model List<GestaoNotas.Models.ViewModel.alunoViewModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = ViewBag.tema;
}

<style>
    .grid {
        display: grid;
        padding: 2em;
        counter-reset: grid-items;
        position: relative;
    }

        .grid::before {
            position: absolute;
            padding-left: 3em;
            content: attr(data-keyword);
        }

    .grid-Card {
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        grid-gap: 9px;
        grid-auto-flow: column;
    }

    .container-card {
        background-color: white;
        border-width: 0px 0px 0px 3px !important;
        border-color: purple !important;
        border-radius: 5px;
        width: 100%;
        min-width: 250px;
        margin: 5px 10px;
    }

    .img {
        font-size: 3rem;
        width: 25px;
    }

</style>
<div class="container-fluid">
    <div class="my-3">
        Alunos cadastrados:
    </div>
    <section class="container-fluid">
        <div class="row">
            @if (Model == null)
            {
                <div class="my-3">
                    Nenhum aluno cadastrado
                </div>
            }
            else
            {
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <div class="col text-center">
                        <div class="border container-card">
                             <div class="row align-items-center">
                                <div class="col-4">
                                    <i class="fas fa-user-circle img"></i>
                                </div>
                                <div class="col-8">
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <span class="fw-bold">
                                                @Html.DisplayFor(modelItem => modelItem[i].Nome)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <span class="bold">
                                                @Html.DisplayFor(modelItem => modelItem[i].Email)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-col-12">
                                            <span class="bold">
                                                @Html.DisplayFor(modelItem => modelItem[i].Campus)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <span class="bold">
                                                RA: @Html.DisplayFor(modelItem => modelItem[i].IdAluno)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="button" class="btn btn-primary my-3">
                                        add Nota
                                    </button>
                                </div>
                                <div class="col">
                                    <button id="TargetModalTurma" type="button" class="btn btn-secondary my-3" data-id="@Model[i].IdAluno" data-nome="@Model[i].Nome">
                                         add Turma
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
            }

        </div>
    </section>
</div>
<div class="modal" id="Modal" tabindex="-1" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section id="renderPartial">

                </section>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">


        $(document).on("click", "#TargetModalTurma", function (e) {

            title = document.querySelector("#titleModal")
            title.textContent = "Aluno: " + this.dataset.nome + " | RA: " + this.dataset.id + "."
            title.dataset.Aluno = this.dataset.id;
            var id = { id: this.dataset.id}

            PostData('@Url.Action("TurmaTabela", "Home")', id, foi);

            function foi(Result){
                RenderPartial(Result, $("#renderPartial"))
            }
            $("#Modal").modal("toggle");

        });

        $(document).on("click", "#addTurma", function (e) {

            title = document.querySelector("#titleModal")

            var aluno = {
                IdAluno: title.dataset.Aluno,
                IdTurma: document.querySelector("#IdTurma").value
            }

            PostData('@Url.Action("addTurmaAluno", "Home")', aluno, sucess)


            function sucess(Result) {

                if (Result.cadastrado) {
                    toastr["success"]("Cadastrado com sucesso")

                } else {

                    toastr["error"]("Erro no cadastro")
                }
            }
        })

    </script>

}
